{% extends 'base.html' %}

{% block title %}{{ fname }}'s Reviews{% endblock %}
{% block head %}
{% endblock %}

{% block body %}
<nav class="navbar static-top navbar-expand-lg navbar-dark" style="background-color: #6600CC" >
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/static/img/gogo_logo_purpleBackground.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
             goGo
          </a>
          <p></p>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link" aria-current="page" href="user_page">Home</a>
            <a class="nav-link" href="/log_out">Log Out</a>
          </div>
      </div>
    </div>
  </nav>
 
{% for msg in get_flashed_messages() %}
      <p class="flash-msg">
        {{ msg }}
      </p>
    {% endfor %}
    <h1>Here are your reviews, {{ fname }}!</h1>
    <ul class="all_user_reviews">
        {% for review in reviews %}
            <div class="card" style="width: 25rem;">
                <div class="card-body">
                    <h5 class="card-title">{{review["bathroom_name"]}}</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Date: {{review["date_time"]}}</li>
                        <li class="list-group-item">Cleanliness Rating: {{review["cleanliness"]}}/ 5</li>
                        <li class="list-group-item">LGBTQIA Friendly? {{review["lgbt_friendly"]}}</li>
                        <li class="list-group-item">Handicap Accessible? {{review["accessible"]}}</li>
                        <li class="list-group-item">Comments: {{review["comments"]}}</li>
                    </ul>
                    <div class="card-body">
                        <form action="/delete_review" method="POST">
                            <input type="hidden" id="review_id" name="review_id" value="{{review['review_id']}}">
                            <button type="submit" value="Submit "id="delete-restroom-review" class="w-100 btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold {{review['review_id']}}">Delete </button>
                        </form>
                    </div>
                </div>
            </div>
            <p></p>
        {% endfor %}
      </ul>
{% endblock %}

