{% extends 'base.html' %}

{% block title %}Reviews{% endblock %}
{% block head %}
{% endblock %}

{% block body %}
<nav class="navbar static-top navbar-expand-lg navbar-dark bg-dark" >
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/static/img/goGo_icon_cropped.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
            goGo
          </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" aria-current="page" href="user_page">Home</a>
          <a class="nav-link" href="/log_out">Log Out</a>
        </div>
      </div>
    </div>
  </nav>
{% for msg in get_flashed_messages() %}
      <p class="flash-msg">
        {{ msg }}
      </p>
    {% endfor %}
      <div class="container-fluid">
        <div class="row">
            <h1>Here are the reviews for {{bathroom_name}}!</h1>
            <ul class="all_user_reviews">
                {% for review in reviews %}
                    <div class="card" style="width: 25rem;">
                        <div class="card-body">
                            <h5 class="card-title">Date: {{review["date_time"]}}</h5>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">cleanliness rating: {{review["cleanliness"]}}/ 5</li>
                                    <li class="list-group-item">LGBTQIA Friendly? {{review["lgbt_friendly"]}}</li>
                                    <li class="list-group-item">Handicap Accessible? {{review["accessible"]}}</li>
                                    <li class="list-group-item">Comments: {{review["comments"]}}</li>
                                </ul>
                        </div>
                    </div>
                    <p></p>
                {% endfor %}
            </ul>
        </div>
        <div class="row">
            <form action="/review_form" method="POST">
                <input type="hidden" id="bathroomID" name="bathroomID" value="${restroomMarker.bathroom_id}">
                <input type="hidden" id="bathroomName" name="bathroomName" value="{{bathroom_name}}">
                <button type="submit" value="Submit "id="leave-review" class="{{bathroom_id}}">Leave Review</button>
            </form>
            <p></p>
        </div>ß
    </div>
{% endblock %}



