{% extends 'base.html' %}
{% block head %}
{% endblock %}

{% block body %}
<nav class="navbar static-top navbar-expand-lg navbar-dark" style="background-color: #6600CC" >
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/static/img/gogo_logo_purpleBackground.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
             goGo
          </a>
          <p></p>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link" aria-current="page" href="user_page">Home</a>
            <a class="nav-link" href="/log_out">Log Out</a>
          </div>
      </div>
    </div>
  </nav>
 
{% for msg in get_flashed_messages() %}
      <p class="flash-msg">
        {{ msg }}
      </p>
    {% endfor %}
    <h1 class="review-heading" >{{bathroom_name}} Reviews</h1>
    <div class="user-reviews">
        <ul class="all_user_reviews_list">
            {% for review in reviews %}
                <div class="card" style="width: 25rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{review["bathroom_name"]}}</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Date: {{review["date_time"]}}</li>
                            <li class="list-group-item">Cleanliness Rating: {{review["cleanliness"]}}/ 5</li>
                            <li class="list-group-item">LGBTQIA Friendly? {{review["lgbt_friendly"]}}</li>
                            <li class="list-group-item">Handicap Accessible? {{review["accessible"]}}</li>
                            <li class="list-group-item">Comments: {{review["comments"]}}</li>
                        </ul>
                    </div>
                </div>
                <p></p>
            {% endfor %}
          </ul>
    </div>
 
{% endblock %}

