{% extends 'base.html' %}
{% block title %}goGO Home{% endblock %}

{% block body %}
{% for msg in get_flashed_messages() %}
      <p class="flash-msg">
        {{ msg }}
      </p>
    {% endfor %}
  <div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-lg-7 text-center text-lg-start">
        <img id="login-logo" src="/static/img/gogo_logo_whiteBackground.png">
        <h1 class="display-4 fw-bold lh-1 mb-3">gotta goGO?!</h1>
        <p class="col-lg-10 fs-4">We all know the feeling, you're out and about and suddenly...you gotta goGo, you know?</p>
      </div>
      <div class="col-md-10 mx-auto col-lg-5">
        <form action="/login" method="POST"class="p-4 p-md-5 border rounded-3 bg-light">
          <div class="form-floating mb-3">
            <input type="email" name="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
          </div>
          <input class="w-100 btn btn-lg btn-primary " type="submit">
          <hr class="my-4">
        </form>
        <div>
          <form action="/display_registration">
            <p class="col-lg-10 fs-6">First time here?</p>
            <button type="submit" class="w-100 btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">Register Here</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

