{% extends 'base.html' %}


{% block body %}

<span>
  <div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-lg-7 align-items-center text-center text-lg-start">
        <img id="login-logo" src="/static/img/gogo_logo_whiteBackground.png">
        <p></p>
        <h1 class="display-4 fw-bold lh-1 mb-3">gotta goGo?!</h1>
        
        <h3 class="col-lg-10 fs-4">Looking for a clean and safe place to goGO?</h3>
        <p></p>
            <h1><span style="color: #FF0018;">L</span> 
            <span style="color: #F68A1E;">G</span>
            <span style="color:#d1b70a;">B</span>
            <span style="color: #04c36a;">T</span>
            <span style="color: #0c49f1;">Q</span>
            <span style="color: #6600cc;">+</span>
            friendly?
        </h1>
        <h1><span style="color: #00b0f0;">handicap-accessible</span>?</h1>
        <p></p>
        <h3>Look no further, goGo will get you going in no time!</h3>
      </div>
      <div class="col-md-10 mx-auto col-lg-5">
        <form action="/users" method="POST"class="p-4 p-md-5 border rounded-3 bg-light">
          <div class="form-floating mb-3">
            <input type="text" name="fname" class="form-control" id="fname" placeholder="first name">
            <label for="fname">First Name</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" name="lname" class="form-control" id="lname" placeholder="last name">
            <label for="lname">Last Name</label>
          </div>
          <div class="form-floating mb-3">
            <input type="email" name="email" class="form-control" id="email" placeholder="name@example.com">
            <label for="email">Email Address</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
          </div>
          <input class="w-100 btn btn-lg btn-primary" type="submit">
          <hr class="my-4">
          <small class="text-muted">Already a user?</small>
          <a href="http://localhost:5000/">Return to login</a>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

