{% extends 'base.html' %}

{% block title %}{% endblock %}
{% block head %}

{% endblock %}

{% block body %}
{% for msg in get_flashed_messages() %}
      <p class="flash-msg">
        {{ msg }}
      </p>
    {% endfor %}
<h1>Hi {{ fname }}, leave your review for {{bathroom_name}}:</h1>
<form action="/review-form/createReview" method="POST">
    <input type="hidden" id="bathroomID" name="bathroomID" value="{{ bathroom_id }}">
    <input type="hidden" id="bathroomName" name="bathroomName" value="{{ bathroom_name }}">
    <input type="hidden" id="userID" name="user_id" value="${user_id}">
    <p>
        <label for="date-picker">Date:</label>
        <input type="date" id="date-picker" name="date-picker">
    </p>
    <p>
        Rating:
        <select name="cleanliness">
          <option value="">Rate cleanliness on a scale from 1 to 5</option>
          {% for num in range(1,6) %}
            <option value="{{ num }}">{{ num }}</option>
          {% endfor %}
        </select>
      </p>
    <p>
        Would you consider this restroom LGBTQIA friendly?
        <p>
            <input type="radio" id="true-friendly" name="lgbt_friendly" value="Yes">
            <label for="Yes">Yes</label><br>
            <input type="radio" id="false-notFriendly" name="lgbt_friendly" value="No">
            <label for="No">No</label><br>
        </p>
    </p>
    <p>
        Handicap Accessible?
        <p>
            <input type="radio" id="true-accessible" name="accessible" value="Yes">
            <label for="Yes">Yes</label><br>
            <input type="radio" id="false-notAccessible" name="accessible" value="No">
            <label for="No">No</label><br>
        </p>
    </p>
    <p>
        Any comments?
        <p>
            <textarea name="comments" id="comments"></textarea>
        </p>
    </p>
    <p>
        <input type="submit" value="Post Review">
    </p>
</form>
<form action="/all_user_reviews" method="POST">
    <input type="submit" value="See All Your Reviews" >
</form>

    <a href='/user_page'>User Page</a>
    <span></span>
    <a href='/log_out'>Log OUT</a>
    
{% endblock %}
 
