{% extends 'base.html' %}
{% block head %}
<script src="/static/js/mapStyles.js"></script>
<script src="/static/js/map.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxaT5BnADZrbyB9seeggQWfvKp_oCUYpg&libraries=places&callback=initMap"></script>
{% endblock %}

{% block body %}
    <nav class="navbar static-top navbar-expand-lg navbar-dark" style="background-color: #6600CC" >
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="/static/img/gogo_logo_purpleBackground.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
                 goGo
              </a>
              <p></p>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
              <a class="nav-link" href="/log_out">Log Out</a>
            
            </div>
          </div>
        </div>
      </nav>
      
      <h1 class="display-5">Welcome, {{ fname }}!</h1>
      <form id="your-reviews" action="/all_user_reviews" method="POST">
        <input class="w-100 btn btn-primary btn-lg px-4 me-sm-3 fw-bold" type="submit" value="Your Reviews" >
      </form>
      
      
      {% if show_predictions_modal %}
      <div id="review_modal" class="modal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h1>Hi {{ fname }}, leave your review for {{bathroom_name}}:</h1>
                <form action="/review-form/createReview" method="POST">
                    <input type="hidden" id="bathroomID" name="bathroomID" value="{{ bathroom_id }}">
                    <input type="hidden" id="bathroomName" name="bathroomName" value="{{ bathroom_name }}">
                    <input type="hidden" id="userID" name="user_id" value="${user_id}">
                    <p>
                        <label for="date-picker">Date:</label>
                        <input type="date" id="date-picker" name="date-picker">
                    </p>
                    <p>
                        Rating:
                        <select name="cleanliness">
                        <option value="">Rate cleanliness on a scale from 1 to 5</option>
                        {% for num in range(1,6) %}
                            <option value="{{ num }}">{{ num }}</option>
                        {% endfor %}
                        </select>
                    </p>
                    <p>
                        Would you consider this restroom LGBTQIA friendly?
                        <p>
                            <input type="radio" id="true-friendly" name="lgbt_friendly" value="Yes">
                            <label for="Yes">Yes</label><br>
                            <input type="radio" id="false-notFriendly" name="lgbt_friendly" value="No">
                            <label for="No">No</label><br>
                        </p>
                    </p>
                    <p>
                        Handicap Accessible?
                        <p>
                            <input type="radio" id="true-accessible" name="accessible" value="Yes">
                            <label for="Yes">Yes</label><br>
                            <input type="radio" id="false-notAccessible" name="accessible" value="No">
                            <label for="No">No</label><br>
                        </p>
                    </p>
                    <p>
                        Any comments?
                        <p>
                            <textarea name="comments" id="comments"></textarea>
                        </p>
                    </p>
                    <p>
                        <input type="submit" value="Post Review">
                    </p>
                </form>
                <form action="/all_user_reviews" method="POST">
                    <input type="submit" value="See All Your Reviews" >
                </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
     
      {% endif %} 
        
		<div class="sidebar d-flex align-items-stretch">
			<aside class="navbar bg-light align-items-start w-25">
				<nav class="nav flex-column position-sticky w-100">
                      <div id="review-menu" style="width:100%">
                    </div>
					<button class="w-100 btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold" disabled="true" style="display:hidden" id="get-directions">Get Directions</button>
                    <button class="w-100 btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold" disabled="true" style="display:hidden" id="reset">Reset</button>
                    <div id="directionsPanel" style="float:center;width:100%;height:50%"></div>
				</nav>
			</aside>

			<main class="main-content w-100">
				<div class="container pt-2">
					<div class="row">
						<div class="col">
                            
                            <div id="map" class="map-style" ></div>
						</div>
					</div>
				</div>
			</main>

		</div>

      {% if show_predictions_modal %}
      <script type="text/javascript">
          $(window).on('load', function() {
              $('#review_modal').modal('show');
          });
      </script>
  
      {% endif %}
    
 
    
   
{% endblock %}

