{% extends 'base.html' %}

{% block title %}{{ fname }}'s Page{% endblock %}
{% block head %}
<script src="/static/js/map.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxaT5BnADZrbyB9seeggQWfvKp_oCUYpg&libraries=places&callback=initMap"></script>
{% endblock %}

{% block body %}
    <h1>Welcome, {{ fname }}!</h1>
    <form action="/all_user_reviews" method="POST">
        <input type="submit" value="See All Your Reviews" >
    </form>
    <a href='/log_out'>Log OUT</a>
    <input id="input" style="height: 75px; width: 1000px;">
    <div id="map" style="height: 1000px; width: 1000px;"></div>
   
{% endblock %}

